<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fortune-rpg.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>3F3C80A61FCBE198526BEEADCA7CB34DC5E876FE</string>
				<key>dateExpires</key>
				<string>24/9/19</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F3C80A61FCBE198526BEEADCA7CB34DC5E876FE</string>
						<key>dateExpires</key>
						<string>24/9/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GRPCClient.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PBM6WA84ZP</string>
						<key>name</key>
						<string>Malcolm Edwards</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F3C80A61FCBE198526BEEADCA7CB34DC5E876FE</string>
						<key>dateExpires</key>
						<string>24/9/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PBM6WA84ZP</string>
						<key>name</key>
						<string>Malcolm Edwards</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F3C80A61FCBE198526BEEADCA7CB34DC5E876FE</string>
						<key>dateExpires</key>
						<string>24/9/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PBM6WA84ZP</string>
						<key>name</key>
						<string>Malcolm Edwards</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F3C80A61FCBE198526BEEADCA7CB34DC5E876FE</string>
						<key>dateExpires</key>
						<string>24/9/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>ProtoRPC.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PBM6WA84ZP</string>
						<key>name</key>
						<string>Malcolm Edwards</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F3C80A61FCBE198526BEEADCA7CB34DC5E876FE</string>
						<key>dateExpires</key>
						<string>24/9/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PBM6WA84ZP</string>
						<key>name</key>
						<string>Malcolm Edwards</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F3C80A61FCBE198526BEEADCA7CB34DC5E876FE</string>
						<key>dateExpires</key>
						<string>24/9/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>RxLibrary.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PBM6WA84ZP</string>
						<key>name</key>
						<string>Malcolm Edwards</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F3C80A61FCBE198526BEEADCA7CB34DC5E876FE</string>
						<key>dateExpires</key>
						<string>24/9/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PBM6WA84ZP</string>
						<key>name</key>
						<string>Malcolm Edwards</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F3C80A61FCBE198526BEEADCA7CB34DC5E876FE</string>
						<key>dateExpires</key>
						<string>24/9/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>grpcpp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PBM6WA84ZP</string>
						<key>name</key>
						<string>Malcolm Edwards</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F3C80A61FCBE198526BEEADCA7CB34DC5E876FE</string>
						<key>dateExpires</key>
						<string>24/9/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PBM6WA84ZP</string>
						<key>name</key>
						<string>Malcolm Edwards</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F3C80A61FCBE198526BEEADCA7CB34DC5E876FE</string>
						<key>dateExpires</key>
						<string>24/9/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PBM6WA84ZP</string>
						<key>name</key>
						<string>Malcolm Edwards</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F3C80A61FCBE198526BEEADCA7CB34DC5E876FE</string>
						<key>dateExpires</key>
						<string>24/9/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>openssl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PBM6WA84ZP</string>
						<key>name</key>
						<string>Malcolm Edwards</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>PBM6WA84ZP.com.xenophilegames.fortune-rpg</string>
				<key>com.apple.developer.team-identifier</key>
				<string>PBM6WA84ZP</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>PBM6WA84ZP.com.xenophilegames.fortune-rpg</string>
				</array>
			</dict>
			<key>name</key>
			<string>fortune-rpg.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>512a7fef-eaef-46b9-83a8-1581ff51b891</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>PBM6WA84ZP</string>
				<key>name</key>
				<string>Malcolm Edwards</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
